.nss-buttons-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nss-buttons-list > * {
    margin: 15px 5px;
}

.nss-icon {
    width: 32px;
    height: 32px;
}

.nss-service-name {
    display: none;
}