.nss-widget-ul {
    margin-top: 0;
    margin-bottom: 0;
}

#nss_option-width,
#nss_option-height {
    width: 6em;
}

#nss_option-kakao_api_key {
    width: 35em;
}

#nss-sg {
    font-family: consolas, monospace;
    font-size: 18px;
    padding: 15px 20px;
    background-color: #fff;
    margin-top: 15px;
    font-weight: bold;
    border: 1px solid #aeaeae;
}

#nss-sg-description {
    margin-top: 0;
}

#nss-sg-toggle {
    text-decoration: none;
    font-style: italic;
}

#nss-sg ~ p {
    text-align: right;
}

#nss-sg-copy {
    text-decoration: none;
}

#nss-sg-atts {
    color: #ad1e61;
}

#nss-sg-setup-wrap > h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

label[for="nss-sg-template"], label[for="nss-sg-variant"] {
    display: inline-block;
    width: 75px;
}